nav li {
	line-height: 60px;
}

body {
	padding-top: 50px;
}

a {
	outline: none;
}

ol li {
	font-size: 18px !important;
}

ul li {
	font-size: 18px !important;
}

/* input selectors */
input, textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 3px 9px;
}

input[type=submit], input[type=button] {
	background: #2196f3 !important;
	border: 0;
	outline: none;
	width: auto;
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 15px;
	color: white;
	transition: all 0.2s linear;
	text-transform: capitalize;
}

input[type=submit]:hover, input[type=button]:hover {
	background: #357EBD !important;
}

textarea {
	height: 200px;
}

.well-main {
	min-height: 600px;
}

.navbar-brand {
	font-size: 1.75em !important;
	font-weight: bold;
}

.nav li {
	font-size: 1.25em !important;
	font-weight: normal;
}

.btn:hover, .btn:focus, .btn:active {
   outline: none !important;
}

#output {
	color: #DF691A;
}

.modal-text-margin {
	margin-left: 1.5em;
}

.modal-section {
	cursor: pointer;
	padding: 25px 10px;
	margin: 0;
	border-bottom: 1px solid #d4d4d4;
}

.modal-header {
	border-bottom: 1px solid gray !important;
}

.modal-section:hover {
	background: rgba(66, 131, 255, 0.2);
}

.info-sections {
	margin: 0 !important;
}

.custom-icon-style {
	float: right;
	font-size: 20px;
}

.outline {
	border: 1px solid black;
	min-height: 240px;
}

.chat {
	background: white;
	color: black;
	height: 180px;
	margin-bottom: 5px;
	padding: 25px 5px 5px 5px;
	overflow-y: hidden;
}

#chatDirections {
	position: absolute;
	margin-left: 5px;
	color: #777;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hide {
	visibility: hidden;
}

.space-after {
	margin-bottom: 5px;
}

.space-after-lg {
	margin-bottom: 12px;
}

/* media queries */
@media screen and (max-width: 767px) {
	body {
		padding: 0;
	}

	nav {
		position: static !important;
	}

	.main {
		margin-top: -11px;
		padding: 0px 25px;
	}

	.portfolio_pic {
		width: 275px;
		height: 205px;
	}

	section {
	    animation-duration: 0s !important;
	}
}

/* Animations */
.move-in-left {
	animation-name: move_in_left;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes move_in_left {
	0%   {visibility: hidden; transform: translate3d(-1000px, 0, 0);}
	19%  {visibility: hidden; transform: translate3d(-1000px, 0, 0);}
	20%  {visibility: visible; transform: translate3d(-1000px, 0, 0);}
	100% {transform: translate3d(0, 0, 0);}
}

.fade-in {
	animation-name: fade_in;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

@keyframes fade_in {
	0%   {opacity: 0; transform: rotate3d(0, 1, 0, 90deg);}
	100% {opacity: 1; transform: rotate3d(0, 1, 0, 0deg);}
}

.fade-in-later {
	animation-name: fade_in_later;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes fade_in_later {
	0%   {opacity: 0;}
	30%	 {opacity: 0;}
	80%  {opacity: 1;}
	100% {opacity: 1;}
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 61px;
}

.footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 61px;
  margin: 0 auto;
  padding: 20px 0;
}

.footer p {
	margin: 0;
}

.navbar-right {
	margin-right: 0 !important;
}